<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" data-provider-thread-count="3">

    <test thread-count="3" name="SeleniumAutomationFramework" parallel="methods">
        <classes>
            <class name="org.jeeva.tests.OrangeHRMTests"/>

        </classes>
    </test>
</suite>